* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 50px;
  background: linear-gradient(to right, skyblue, blue);
}

.logo-head-flex {
  display: flex;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid dodgerblue;
  padding: 8px;
  text-align: center;
  color: white;
  background-color: green;
}

td:hover {
  background-color: yellow;
}

th:hover {
  background-color: yellow;
}
td:active {
  background-color: rgb(180, 180, 0);
}

th:active {
  background-color: rgb(180, 180, 0);
}

@media only screen and (min-width: 320px) {
  .intro {
    color: bisque;
  }
  header {
    padding: 50px;
    background: linear-gradient(to right, red, orange);
  }
}
@media only screen and (min-width: 576px) {
  .intro {
    color: black;
  }
  header {
    padding: 50px;
    background: linear-gradient(to right, green, blue);
  }
}
@media only screen and (min-width: 992px) {
  .intro {
    color: black;
  }
  header {
    padding: 50px;
    background: linear-gradient(to right, red, orange);
  }
}
@media only screen and (min-width: 1200px) {
  .intro {
    color: black;
  }
  header {
    padding: 50px;
    background: linear-gradient(to right, green, blue);
  }
}
@media only screen and (min-width: 1500px) {
  .intro {
    color: black;
  }
  header {
    padding: 50px;
    background: linear-gradient(to right, red, orange);
  }
}
